[Desktop Entry]
Name=OpenBuilds-CONTROL
Version=1.0
Comment=OpenBuildsCONTROL
Exec=bash -c "cd /home/pi/OpenBuilds-CONTROL; git fetch --all; git reset --hard origin/master; node index.js"
Icon=/home/pi/OpenBuilds-CONTROL/builds/icons/32x32.png
Terminal=false
Type=Application
Categories=Other
