.glossydro {
  display: block;
  text-decoration: none;
  background-color: #f5f6f7;
  color: #a7a7a7;
  margin: 2px;
  width: 140px;
  height: 32px;
  position: relative;
  text-align: right;
  padding-right: 6px;
  padding-left: 6px;
  line-height: 30px;
  border-radius: 2px;
  border: 1px solid #ddd;
  font-weight:900;
  font-size: 18px;
  cursor: default;
}

.glossybtn:link, .glossybtn:visited {
  display: block;
  text-decoration: none;
  background-color: #f5f6f7;
  color: #a7a7a7;
  margin: 2px;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  line-height: 50px;
  border-radius: 2px;
  border: 1px solid #f5f6f7;
}

.glossybtn:active {
  background: #d5d6d7;
}

.glossybtn:hover {
  text-decoration: none;
  background: rgba(164,206,249, 0.2);
  border: 1px solid rgb(164,206,249);
}​
