body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
  overflow-y: hidden;
}

/* X-Large button for Metro */
.button.cycle.xlarge, .button.square.xlarge {
  width: 3.7rem;
  height: 3.7rem;
}

.button.xlarge {
  font-size: 1.375rem;
  padding: 0 1rem;
  height: 3.7rem;
  line-height: 3.7rem;
}

#jogcontrols {
  /* Note only uses height attribs from here, before we connect to websocket. After that, it gets set by websocket.js */
  height: 200px;
}

#macros {
  /* Note only uses height attribs from here, before we connect to websocket. After that, it gets set by websocket.js */
  height: calc(100vh - 455px);
  width: 100%;
  border-top: 1px solid #ccc;
  /* margin-top: 5px; */
  box-shadow: 0 0 2px 2px #ddd;
  background-color: #fff;
}

#renderArea {
  /* Note only uses height attribs from here, before we connect to websocket. After that, it gets set by websocket.js */
  height: calc(100vh - 455px);
  width: 100%;
  border-top: 1px solid #ccc;
  /* margin-top: 5px; */
  box-shadow: 0 0 2px 2px #ddd;
  background-color: #fff;
}

#editor {
  /* Note only uses height attribs from here, before we connect to websocket. After that, it gets set by websocket.js */
  height: calc(100vh - 495px);
  width: 100%;
  border-top: 1px solid #ccc;
  /* margin-top: 5px; */
  box-shadow: 0 0 2px 2px #ddd;
}

#console>p {
  margin-top: 5px;
}

#console>p:hover {
  background-color: #eee;
}

#console {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Lucida Console", Monaco, monospace;
  height: calc(100vh - 495px);
  width: 100%;
  overflow-y: auto;
  overflow-x: none;
  text-align: left;
  background-color: #fff;
  box-shadow: 0 0 2px 2px #ddd;
  padding: 0px;
  font-size: 12px;
  padding-left: 20px;
  white-space: normal;
  margin-bottom: 0px;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

#grblPanel {
  max-height: calc(100vh - 215px);
  height: calc(100vh - 215px);
  width: 100%;
  overflow-y: auto;
  overflow-x: none;
  padding: 8px;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.pf {
  margin-top: 0px;
  margin-bottom: -4px;
}

select {
  font-family: 'FontAwesome', sans-serif;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* OpenBuilds Navbar for MetroWindows */
.fg-openbuilds {
  color: rgb(74, 78, 81) !important;
}

.bg-openbuilds {
  background-color: rgb(74, 78, 81) !important;
}

.bd-openbuilds {
  border-color: rgb(74, 78, 81) !important;
}

.openbuilds-switch .check::after {
  background: rgb(74, 78, 81) !important;
  border-color: rgb(74, 78, 81) !important;
}

.openbuilds-switch input[type="checkbox"]:checked~.check {
  background: rgb(74, 78, 81) !important;
}

.openbuilds-switch input[type="checkbox"]:checked~.check::after {
  border-color: #ffffff !important;
  background: #ffffff !important;
}

.keyboardpanel td:nth-child(1) {
  width: 60px;
  height: 60px;
}

.keyboardpanel td:nth-child(2) {
  width: 60px;
  height: 60px;
}

#splash {
  z-index: 2000;
  padding: 1000px;
  background-color: #fff
}

.macroedit {
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  font-size: 11px !important;
}

.macroedit:hover {
  color: #ff1e11 !important;
}

.macrotype {
  position: absolute !important;
  top: 2px !important;
  right: 22px !important;
  font-size: 10px !important;
}

#macrogcode {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  padding: 5px;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}

#macrojs {
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  padding: 5px;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}

.machineicon:hover {
  color: #CE352C !important;
}