body {
  min-height: calc(100vh + 1px) !important;
}

#buttonview {
  /* Note only uses height attribs from here, before we connect to websocket. After that, it gets set by websocket.js */
  padding-top: 2px;
  height: 200px;
  width: calc(100vw - 30px);
  margin: 10px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: white;
}

.title_box {
  /* border: #3c5a86 1px dotted; */
  margin: 0px;
  padding: 0px;
  margin-top: -24px;
}

.title_box #title {
  z-index: 2000;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
  top: 1.32em;
  margin-left: 1.5em;
  display: inline;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.dromobile {
  /* width: calc(100vw - 75px) !important; */
}

#qrcode canvas {
  display: block;
  margin: 0 auto;
}

*/